[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTextEditor/Plugin
X-KDE-Derived=
Comment=KTextEditor Plugin

# if the name of your application is listed here,
# you shall load that plugin per default
[PropertyDef::X-KTextEditor-Load-Default]
Type=QStringList
